[connectivity]
nk = mm2s:1:mm2s
nk = s2mm:1:s2mm

slr = mm2s:SLR0
slr = s2mm:SLR0

sp = mm2s.m_axi_gmem:MC_NOC0
sp = s2mm.m_axi_gmem:MC_NOC0

stream_connect = mm2s.s:ai_engine_0.in_11
stream_connect = ai_engine_0.out_11:s2mm.s

# [debug]
# chipscope=mm2s_eta_11
# chipscope=mm2s_eta_16
# chipscope=mm2s_phi_11
# chipscope=mm2s_phi_16
# chipscope=s2mm_out_11
# chipscope=s2mm_out_16# 
# aie.chipscope=in_eta_11
# aie.chipscope=in_eta_16
# aie.chipscope=in_phi_11
# aie.chipscope=in_phi_16

[profile]
data = all:all:all
stall = all:all
memory = all
aie = all

[vivado]
# use following line to improve the hw_emu running speed affected by platform
prop=fileset.sim_1.xsim.elaborate.xelab.more_options={-override_timeprecision -timescale=1ns/1ps}